{% extends 'admin.html.twig' %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <div class="align-items-center app flex-row">
            <div class="container">
                <div class="justify-content-center row">
                    <div class="col-md-8">
                        <div class="card-group">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h1>S'identifier</h1>
                                    <p class="text-muted">Connectez vous à votre compte</p>
                                    {% for message in app.session.flashBag.get('info') %}
                                        <div class="alert alert-dismissible alert-success" role="alert">
                                            <button class="close" data-dismiss="alert" type="button"><i class="fa fa-times fa-2x"></i></button>
                                            <h4><i class="fa fa-check"></i> aaaa</h4>
                                        </div>
                                    {% endfor %}
                                    {% if error %}
                                        <div class="alert alert-danger">
                                            <ul class="list-unstyled mb-0">
                                                <li>
                                                    <span class="initialism form-error-icon badge badge-danger">Erreur</span>
                                                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <form action="{{ path('login') }}" method="POST">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="cui-user"></i>
                                            </span>
                                            </div>
                                            <input class="form-control" id="username" name="_username" placeholder="Nom de compte" type="text" value="{{ last_username }}" />
                                        </div>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="cui-lock-locked"></i>
                                            </span>
                                            </div>
                                            <input class="form-control" id="password" name="_password" placeholder="Mot de passe" type="password">
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <input name="_csrf_token" type="hidden" value="{{ csrf_token('authenticate') }}" />
                                                <button class="btn btn-primary px-4" id="login" type="submit"><i class="fa fa-sign-in-alt"></i> Connexion</button>
                                            </div>
                                            <div class="col-6 text-right">
                                                <button class="btn btn-link px-0" type="button">Mot de passe oublié</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}