{% extends 'admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="bg-light card-header">
                    Tableau de bord
                </div>

                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
    <div id="chat-output"></div>
{% endblock %}
